
body{

background-image: url(2021-08-05-HNC-mejor-atención-03.jpg);
background-size: cover;
background-repeat: no-repeat;
font-size: 30px;
width: 100%;



}

h1{
    text-align: center;
    color: blue;


}.principal{
text-align: center;
padding-top: 150px;
color: black;
}

p{

text-align: center;
color: black;


}


