body{
background-color: green;

}
h1{
    text-align: center;
    color: blue;
    background-color: greenyellow;
}

p{

text-align: center;
color: black;
font-size: 30px;

}
.medicos{

text-align: center;
background-color: aquamarine;


}

form{

text-align: center;
background-color: aquamarine;


}
